@{
    ViewBag.Title = "Controle de Clientes";
}

<div class="jumbotron">
    <h1>Sistema de Controle de Clientes</h1>
    <p class="lead">Bem-vindo ao sistema de controle de clientes, clique em um dos menus acima para navegar.</p>
</div>

<div class="col-xs-12 row">
    <div id="grade">
    </div>
</div>