@model IEnumerable<ControleClientes.ViewModels.TipoContaViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tipos de Conta</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeTipoConta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeTipoConta)
        </td>
        <td>
            @Html.ActionLink("Detalhes", "Details", new { id=item.IdTipoConta })
        </td>
    </tr>
}

</table>
